
.profilePage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profilePicContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profilePic img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.qrCodeContainer {
    margin-top: 20px;
    text-align: center;
}