.picName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    margin: 0 20px 0 20px;
}

.infoSection {
    flex: 2;
    text-align: left;
    margin-left: 20px;
}

.profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 80px;
    margin-bottom: 40px;
}

.fullName {
    align-self: center;
    margin-right: 80px;
}

.qrCodeSection {
    margin-top: 20px;
}

.bioSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.editButton {
    margin-top: 10px;
    background: none;
    border: none;
}

.editButton:hover {
    cursor: pointer;
}

.editIcon {
    color: black;
    background: transparent;

}